header, .gift:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

h2 {
  color: #b53642;
  font-weight: bold;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
html {
  height: 100vh
}
body {
  font-family: 'Berkshire Swash', cursive;
  background-image: url("/assets/images/bg2-img.png");
  background-position: center center;
  background-repeat: repeat-x;
  /* background-attachment: fixed; */
  background-size:  cover;
  height: 100vh;
  overflow:auto
}

button {
  background-color: #606b5a;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Berkshire Swash', cursive;
}

.grnbtn {
  background-color: #606b5a;
  color: white;
}
/*  */

/* login page */
#loginPage{
  margin-left: 400px ;
  padding-top: 50px;
  font-size: x-large;
  color:black;
}

#signup{
  padding-top: 50px;
  color: black;
}

/* profile page */
#createGiftRecip{
  margin-left: 400px ;
  padding-top: 20px;
  font-size: large;
  color:black;
}

#createGiftChild{
  padding-top: 20px;
}

/* gift page */
#giftBlock{
  margin-left: 400px ;
  padding-top: 20px;
}

.card{
  padding: 20px; 
  margin-right: 60 px;
  border: 2px solid #606b5a; 
  color: black;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(159,156,156,1) 100%);
  margin-bottom: 10px;
  
}

/* nav bar */
ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(193, 189, 189);;
}

#title {
  margin-left: 10px;
  font-size: 45px;
  color: #b53642
}

li {
  float: left;
  border-right:1px solid #bbb;
}



li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgba(159,156,156,1);
}

.active {
  background-color: rgb(193, 189, 189);
  color:#b53642;
  font-size:20px;
  font-weight: bold;
}

#logout{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 2px;
}
#logout:hover{
  background-color: rgba(159,156,156,1);

}
#giftInfo{
font-weight: bold;
}